body {
	font-family: RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
}

.container_logo {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	width: 100%;
	height: 37em;

	animation: background 3s;

	background-repeat: no-repeat;
	background-color: var(--blackDark);
	background-size: 66em;
	background-position: left;
	background-image: linear-gradient(to left, var(--blackDark) 8%, transparent 40%), url(/assets/img/baner.jpg);
}

@keyframes background {
	0% {
		background-position: -39%;
	}
}

@keyframes logoAnimation {
	0% {
		height: 15em;
		width: 0%;
	}
}

.logo_posicao {
	width: 30%;

	animation: logoAnimation 3s;
}

.logo {
	height: 15em;
	width: 20em;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.menu {
		text-align: center;
		width: 100%;
	}

	.container_logo {
		background-size: 100%;
		background-image: linear-gradient(to top, var(--blackDark) 20%, transparent 50%), url(/assets/img/baner.jpg);

		animation: none;

		height: 23em;
	}

	.logo_posicao {
		display: flex;
		align-items: flex-end;
		justify-content: center;

		width: 100%;
		height: 130%;

		text-align: center;

		animation: none;
	}
}

@media (min-width: 424px) and (max-width: 768px) {
	.container_logo {
		background-image: linear-gradient(to top, var(--blackDark) 20%, transparent 50%), url(/assets/img/baner.jpg);
		background-size: 100%;

		height: 20em;

		animation: none;
	}

	.logo_posicao {
		display: flex;
		align-items: flex-end;
		justify-content: center;

		width: 100%;
		height: 125%;

		animation: none;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.container_logo {
		background-image: linear-gradient(to top, var(--blackDark) 20%, transparent 50%), url(/assets/img/baner.jpg);
		background-size: 100%;

		animation: none;
	}

	.logo_posicao {
		display: flex;
		align-items: flex-end;
		justify-content: center;

		width: 100%;
		height: 120%;

		animation: none;
	}
}